<nb-card>
    <nb-card-header>{{teacher?.fullName}}</nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Personal Data">
                <h2>Address:</h2>
                <span>{{teacher?.address}}</span>
                <h2>Contact:</h2>
                <span>{{teacher?.email}}</span>
                <h2 *ngIf="teacher?.grade === '-'">
                    Not responsible for a class.</h2>
                <h2 *ngIf="teacher?.grade != '-'">
                    Responsible for:</h2>
                <span *ngIf="teacher?.grade != '-'">
                    {{teacher?.grade}}</span>
            </nb-tab>
            <nb-tab tabTitle="Statistics">
                <h2>Average score:</h2>
                <span>{{teacher?.avgScore.toPrecision(3)}}</span>
                <h2>Subjects count:</h2>
                <span>{{teacher?.subjects.length}}</span>
            </nb-tab>
            <nb-tab tabTitle="Subjects">
                <div *ngFor="let subject of teacher?.subjects">
                    <h2>{{subject["grade"]}} клас:</h2>
                    <span>{{subject["name"]}}</span>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="basic" size="small" (click)="close()">Cancel</button>
    </nb-card-footer>
</nb-card>