<nb-card>
    <nb-card-header><h4>Teachers</h4></nb-card-header>
    <nb-card-body>
        <table mat-table [dataSource]="dataForTable | async">

            <!-- Teacher name column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let teacher">{{teacher.fullName}}</td>
            </ng-container>

            <!-- Teacher address column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Address</th>
                <td mat-cell *matCellDef="let teacher">{{teacher.address}}</td>
            </ng-container>

            <!-- Teacher grade column -->
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef>Responsible for</th>
                <td mat-cell
                    *matCellDef="let teacher">{{teacher.grade}}</td>
            </ng-container>

            <!-- Teacher actions column -->

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let teacher">
                    <div class="btn-group">
                        <button nbButton status="info" size="small"
                                (click)="openDialog(teacher)">Details
                        </button>
                        <button nbButton status="basic" size="small"
                                [routerLink]="['/app/teacher']">Subjects
                        </button>
                    </div>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="teacherColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: teacherColumns"></tr>
        </table>
    </nb-card-body>
</nb-card>
