ngx-charts-advanced-pie-chart{
  //width: 100%;
  overflow: hidden;
  max-height: max-content;
}

nb-card-body {
  padding: 1rem 0;
}

:host ::ng-deep ngx-charts-advanced-legend{

  .total-value {
    margin-bottom: 0.5rem;
  }

  .legend-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.4rem;

    .legend-item {
      margin-bottom: 1rem;

      .item-value, .item-label {
        margin: 0 !important;
      }

      .item-percent {
        float: right;
      }
    }
  }
}
